<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Navigation_Drawer_App">
        <activity
            android:name=".Edits.VideojuegoEdits"
            android:exported="false" />
        <activity
            android:name=".Altas.VideojuegoAltas"
            android:exported="false" />
        <activity
            android:name=".Edits.ConsolaPrecioEdits"
            android:exported="false" />
        <activity
            android:name=".Altas.ConsolaPrecioAltas"
            android:exported="false" />
        <activity
            android:name=".Edits.ConsolaEdits"
            android:exported="false" />
        <activity
            android:name=".Altas.ConsolaAltas"
            android:exported="false" />
        <activity
            android:name=".Altas.MenuAltas"
            android:exported="false" />
        <activity
            android:name=".Actividades.NoDisponible"
            android:exported="false" />
        <activity
            android:name=".Edits.MenuEdits"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>